
body div div{
  border: 1px solid black;
  position: absolute;
}

#App {
  position: relative;
  width: 833.66666px;
  height: 544.666663px;
}

#Acar {
  width: 291px;
  height: 89px;
  top: 29.98958300000004px;
  left: 6.9999979382324256px;
}
